.message{
    display: flex;
    height: 84vh;
    //padding: 0 100px;

    .side-bar{
        border: 1px solid #ccc;
        flex: 1;
        display: flex;
        flex-direction: column;

        h2{
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            margin-top: 20px;
        }

        .search{
            text-align: center;
            padding: 30px;

            .search-input{
                border: 1px solid #1CB5BD;
                width: 200px;
                padding: 5px 10px;
                border-radius: 5px;
                background-color: #E9F7F8;
            }

            .search-btn{
                background-color: #1CB5BD;
                cursor: pointer;
                border: none;
                color: white;
                border-radius: 5px;
            }
        }

        .list-doctors{
            flex: 1;
            overflow-y: auto;

            .doctor{
                display: flex;
                padding: 10px;

                .doctor-img{
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .doctor-name{
                    margin-left: 10px;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .doctor:hover{
                background-color: #f5f5f5;
                cursor: pointer;
            }
            .new-message{
                background-color: #1CB5BD;
                color: white;
                text-align: center;
                padding: 10px;
                cursor: pointer;
            }
            .selected{
                background-color: #ccc;
            }
            .no-result{
                text-align: center;
                margin-top: 20px;
            }
        }
    }

    .chat{
        border: 1px solid #ccc;
        flex: 3;
        display: flex;
        flex-direction: column;

        .header{
            display: flex;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            align-items: center;

            .doctor-img{
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
            }

            .info{
                margin-left: 10px;
                text-decoration: none;
                color: black;

                .doctor-name{
                    font-size: 16px;
                    font-weight: 600;
                }

                .activity{
                    font-size: 12px;
                    color: #b0b3b8;
                }
            } 
        }

        .content-chat{
            overflow-y: auto;
            flex: 1;
            display: flex;
            flex-direction: column;

            .message-item{
                display: flex;
                padding: 5px 10px;
                align-items: center;

                .message-content {
                    border: 1px solid #ccc;
                    padding: 10px;
                    border-radius: 15px;
                    display: inline-block;
                }

                .doctor-img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }

            .me{
                justify-content: flex-end;
                
                .message-content{
                    background-color: #1CB5BD;
                    color: white;
                }
            }
        }

        .input{
            display: flex;
            padding: 10px;
            gap: 10px;
            align-items: center;

            .image{
                width: 30px;
                height: 30px;
                object-fit: cover;
                cursor: pointer;
            }

            .input-message{
                flex: 1;
                border: 1px solid #ccc;
                border-radius: 15px;
                padding: 10px;
            }

            .icon{
                width: 30px;
                height: 30px;
                object-fit: cover;
                cursor: pointer;
            }

            .send{
                width: 30px;
                height: 30px;
                object-fit: cover;
                cursor: pointer;
            }
        }

        
    }

    .more-info{
        border: 1px solid #ccc;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .doctor-img{
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
            margin-top: 20px;
        }

        .doctor-name{
            margin-top: 10px;
            font-size: 16px;
            font-weight: 600;
        }

        .activity{
            font-size: 12px;
            color: #b0b3b8;
        }

        .profile{
            margin-top: 40px;
            display: flex;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: black;

            .user{
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }
    }
}