.content {
  margin-top: 50px;

  .doctor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .doctor-info {
      border-radius: 5px;
      border: 1px solid var(--text-color1);
      background-color: var(--text-color2);
      width: 70%;
      display: flex;
      flex-wrap: wrap;

      .image-doctor {
        flex: 1;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        img {
          margin-top: 20px;
        }

        .rate {
          background-color: var(--text-color1);
          display: flex;
          padding: 2px 4px 2px 4px;
          border-radius: 2.5px;
          width: 45px;
          align-items: center;
          justify-content: center;
          margin-top: 10px;
          margin-bottom: 10px;

          img {
            margin: 0;
            width: 18px;
            height: 18px;
          }

          span {
            font-size: 16px;
            text-align: left;
            color: #ffffff;
            margin-left: 4px;
          }
        }
      }

      .doctor-detail {
        flex: 1;
        max-width: 100%;
        margin-left: 20px;

        .name {
          h1 {
            font-size: 35px;
            line-height: 80.45px;
            font-weight: 600;
            text-align: left;
          }
          p {
            font-size: 20px;
            font-weight: 600;
            text-align: left;
            color: #979797;
          }
        }

        .location {
          margin-top: 50px;

          .info {
            display: flex;
            align-items: center;
            h1 {
              font-size: 28px;
              font-weight: 600;
              line-height: 45.25px;
              text-align: left;
              margin-left: 20px;
            }
          }

          .detail {
            max-width: 400px;
            text-wrap: wrap;
            font-size: 20px;
            font-weight: 400;
            line-height: 30.17px;
            text-align: left;
            color: #979797;
          }
        }
      }
    }
  }

  .form-booking {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .price-booking {
      border-radius: 5px;
      border: 1px solid var(--text-color1);
      background-color: var(--text-color2);
      width: 20%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      input[type="radio"] {
        appearance: none;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        border: 2px solid #1cb5bd;
        outline: none;
        position: relative;
        cursor: pointer;
        margin-right: 10px;
      }

      input[type="radio"]:checked {
        background-color: #fff;
        border-color: #1cb5bd;
      }

      input[type="radio"]:checked::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #1cb5bd;
      }

      label {
        display: flex;
        font-weight: bold;
        font-size: 16px;
        color: #1cb5bd;
        cursor: pointer;
        align-items: center;
      }
    }

    .input-fullname,
    .input-phone,
    .input-email,
    .input-birthday,
    .input-address,
    .input-reason {
      width: 70%;
      .select-options {
        margin-top: 16px;
        border: 1px solid #1cb5bd;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background-color: #e9f7f8;
      }

      .field-text {
        margin-top: 30px;
        font-size: 24px;
        font-weight: 600;
        display: block;
      }

      .decor-input {
        display: flex;
        margin-top: 16px;

        .input {
          border: 1px solid #1cb5bd;
          height: 25px;
          width: 100%; /* Điều chỉnh lại width cho phù hợp */
          padding: 10px;
          border-radius: 5px;
          background-color: #e9f7f8;
        }
      }

      .note {
        margin-top: 10px;
        font-size: 16px;
        color: #979797;
      }
    }

    .gender-options {
      margin-top: 20px;
      border-radius: 5px;
      border: 1px solid var(--text-color1);
      background-color: var(--text-color2);
      width: 70%;
      padding: 10px;

      .field-text {
        font-size: 20px;
        font-weight: 600;
        display: block;
        margin-bottom: 10px;
      }

      .decor-gender {
        display: flex;
        justify-content: space-between;
        input[type="radio"] {
          appearance: none;
          width: 21px;
          height: 21px;
          border-radius: 50%;
          border: 2px solid #1cb5bd;
          outline: none;
          position: relative;
          cursor: pointer;
          margin-right: 10px;
        }

        input[type="radio"]:checked {
          background-color: #fff;
          border-color: #1cb5bd;
        }

        input[type="radio"]:checked::after {
          content: "";
          position: absolute;
          top: 4px;
          left: 4px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #1cb5bd;
        }

        label {
          display: flex;
          font-weight: bold;
          font-size: 16px;
          color: #333;
          cursor: pointer;
          align-items: center;
        }
      }
    }
  }

  .total-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .total-payment {
      background-color: #dbeaeb;
      margin-top: 30px;
      width: 80%;
      padding: 20px;

      .booking-fee {
        margin-top: 5px;
      }

      .examination-price,
      .booking-fee,
      .total {
        display: flex;
        justify-content: space-between;

        h1 {
          font-size: 20px;
          font-weight: 600;
          margin-left: 20px;
        }

        p {
          font-size: 20px;
          text-align: right;
          margin-right: 20px;
        }
      }
    }
  }

  .total-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .total-payment {
      background-color: #dbeaeb;
      margin-top: 30px;
      width: 67%;
      padding: 20px;

      .booking-fee {
        margin-top: 5px;
      }

      .examination-price,
      .booking-fee,
      .total {
        display: flex;

        h1 {
          flex: 1;
          margin-left: 20px;
          font-size: 20px;
          font-weight: 600;
        }

        p {
          flex: 1;
          text-align: right;
          margin-right: 20px;
        }
      }
    }
  }

  .request,
  .confirm-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin-top: 10px;
      color: #979797;
    }

    button {
      margin-top: 32px;
      margin-bottom: 50px;
      width: 270px;
      height: 45px;
      font-size: 20px;
      background-color: #1cb5bd;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }
    button:hover {
      background-color: #fff;
      color: black;
    }
  }
}

@media (max-width: 1200px) {
  .doctor-info {
    width: 90%;
  }

  .price-booking,
  .gender-options {
    margin-left: 10px;
    width: 90%;
  }

  .input-fullname,
  .input-phone,
  .input-email,
  .input-birthday,
  .input-address,
  .input-reason {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .doctor {
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
  }

  .doctor-info {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  .doctor-detail {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .image-doctor img {
    width: 60%;
    margin: 0 auto;
  }

  .name {
    h1 {
      font-size: 16px;
      line-height: 1.2;
    }
    p {
      font-size: 10px;
    }
  }
  .location {
    .info {
      img {
        width: 30px;
      }
      h1 {
        font-size: 10px;
      }
    }
    .detail {
      font-size: 10px;
      line-height: 1;
    }
  }

  .form-booking {
    margin-top: 20px;
  }

  .price-booking,
  .gender-options {
    width: 100%;
    margin-left: 0;
  }

  .input-fullname,
  .input-phone,
  .input-email,
  .input-birthday,
  .input-address,
  .input-reason {
    width: 100%;
    margin-left: 0;
  }

  .total-payment {
    width: 100%;
  }
  .request {
    p {
      text-align: center;
    }
  }
}

@media (max-width: 480px) {
  .doctor-info {
    width: 100%;
    padding: 10px;
  }

  .doctor-detail {
    width: 100%;
    margin-left: 0;
  }

  .input-fullname,
  .input-phone,
  .input-email,
  .input-birthday,
  .input-address,
  .input-reason {
    width: 100%;
  }
  .request button {
    width: 100%;
  }
}
