.content{
    margin: 80px 100px;

    @media (max-width: 768px) {
        margin: 20px;
    }

    .element {
        
        border-right: 1px solid #BBBBBB; 
        border-bottom: 1px solid #BBBBBB; 
        border-top: none;
    }

    .select-options{
        margin-top: 16px;
        border: 1px solid #1CB5BD;
        height: 50px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background-color: #E9F7F8;

        @media (max-width: 768px) {
            height: auto;
        }
    }

    .desc{
        font-size: 50px;
        font-weight: 600;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 24px;
        }
    }

    .border{
        border: 1px solid #BBBBBB;
        margin-top: 40px;

        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }

    .page{
        display: flex;
        border: 1px solid #BBBBBB;

        @media (min-width: 769px) { 
            .more-btn {
              display: none; /* Ẩn nút More trên màn hình lớn */
            }
        }

        

        @media (max-width: 768px) {
            flex-direction: column;

            .more-btn {
                padding: 10px;
                display: block;
                margin: 20px auto;
                border: none;
                background-color: #1CB5BD;
                color: white;
                text-align: center;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                text-transform: uppercase;
            }
        }
        
        .sidebar {
            width: 30%;

            @media (max-width: 768px) {
                width: 100%;
            }
            
            .field-text{
                margin-top: 36px;
                font-size: 24px;
                font-weight: 600;
                display: block;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }

            .search{
                padding: 30px;
    
                .decor-input{
                    display: flex;
                    margin-top: 16px;

                    @media (max-width: 768px) {
                        flex-direction: column;
                    }
    
                    .input{
                        border: 1px solid #1CB5BD;
                        flex: 1;
                        margin-bottom: 10px;
                        padding: 10px;
                        border-radius: 5px;
                        background-color: #E9F7F8;

                        @media (max-width: 768px) {
                            width: 100%;
                        }
                    }

                    .search-btn{
                        background-color: #1CB5BD;
                        cursor: pointer;
                        margin-bottom: 10px;
                        border: none;
                        color: white;
                        border-radius: 5px;

                        @media (max-width: 768px) {
                            width: 100%;
                            padding: 10px;
                        }
                    }

                    
                } 
            }
            
            .filter{
                padding: 30px;
                
                @media (max-width: 768px) {
                    padding: 10px;
                    display: none;

                    &.active { /* Hiển thị khi có class active */
                        display: block;
                    }
                }

                .gender-options{
                    margin-top: 10px;

                    .decor-gender{
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;

                        /* Cải tiến kiểu cho radio button */
                        input[type="radio"] {
                            appearance: none; /* Tắt hiển thị mặc định của radio button */
                            width: 21px;
                            height: 21px;
                            border-radius: 50%;
                            border: 2px solid #1CB5BD; /* Màu border radio button */
                            outline: none;
                            position: relative;
                            cursor: pointer;
                            margin-right: 10px;
                        }

                        /* Đổi màu khi radio button được chọn */
                        input[type="radio"]:checked {
                            background-color: #fff; /* Màu nền khi chọn */
                            border-color: #1CB5BD; /* Đổi màu viền khi chọn */
                        }

                        /* Tạo vòng tròn nhỏ bên trong radio button khi được chọn */
                        input[type="radio"]:checked::after {
                            content: '';
                            position: absolute;
                            top: 4px;
                            left: 4px;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: #1CB5BD; /* Màu vòng tròn nhỏ */
                        }

                        /* Kiểu cho chữ trong label */
                        label {
                            display: flex;
                            font-weight: bold; /* Đặt chữ trong label đậm */
                            font-size: 16px;
                            color: #333;
                            cursor: pointer;
                            align-items: center;
                        }

                    }
                }

                .submit-btn{
                    margin: 50px 0;
                    width: 100%;
                    height: 50px;
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                    cursor: pointer;
                    border: none;
                    background-color: #1CB5BD;
                }

                .submit-btn:hover{
                    opacity: 0.7;
                }

            }

        }

        .main-content{
            padding: 40px;
            flex-grow: 1;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            place-items: center;
            gap: 20px;
            line-height: 1.5;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                padding: 10px;
            }

            .doctor{
                width: 100%;
                height: auto;
                border: 1px solid #BBBBBB;
                border-radius: 5px;
                padding: 20px;
                text-align: center;
                cursor: pointer;

                @media (max-width: 768px) {
                    padding: 10px;
                }
            }

            


            .doctor:hover{
                background-color: #7deaf0;
            }
    
            img {
                width: 177px; 
                height: 177px;
                object-fit: cover; 
                border-radius: 50%;
                margin-top: 60px;

                @media (max-width: 768px) {
                    margin-top: 20px;
                    width: 120px;
                    height: 120px;
                }
            }
    
            h3{
                margin-top: 10px;
                font-size: 20px;
                font-weight: 600;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
    
            .speciality{
                font-size: 20px;
                opacity: 0.5;

                @media(max-width: 768px){
                    font-size: 16px;
                }
            }
    
            .review{
                font-size: 16px;
                font-weight: 600;
                opacity: 0.5;
                margin-top: 40px;
            }
        
            
        }
    }

    
}