.schedule{
    padding: 30px 100px;

    .schedule-header{
        display: flex;
        justify-content: center;

        .schedule__title{
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 50px;
        }
    }

    .schedule-content{
        display: flex;
        gap: 10px;
        padding: 30px;

        .schedule-list{
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 10px;
            overflow-y: auto;
            height: 400px;

            .schedule-item{
                display: flex;
                border: 1px solid #ccc;
                padding: 10px;
                background-color: #fff;

                .sche-info{
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .schedule-id{
                        font-size: 28px;
                        font-weight: 600;
                        align-self: flex-start;
                        color: #0f2f76;
                    }

                    .schedule-date{
                        font-size: 16px;
                        font-weight: 500;
                        color: #0f2f76;
                    }
                }

                .schedule-image{
                    width: 60px;
                    height: 60px;
                    object-fit: cover;
                    margin-right: 10px;
                }
            }

            .schedule-item:hover{
                background-color: #f0f0f0;
                cursor: pointer;
            }
        }

        .schedule-info{
            border: 1px solid #ccc;
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;
            overflow-y: auto;

            .schedule-info_title{
                font-size: 20px;
                font-weight: 700;
                padding: 10px;
                text-align: center;
            }

            .schedule-info_item{
                display: flex;
                padding: 10px;
                justify-content: space-between;

                .doctor{
                    flex: 1;
                    gap: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .header{
                        font-size: 20px;
                        font-weight: 600;
                        text-align: center;
                    }

                    .doctor-img{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }

            .schedule-reason{
                padding: 0 20px;
                padding-bottom: 10px;
                border: 1px solid #ccc;

                .item{
                    margin-top: 10px;
                    .header{
                        font-size: 16px;
                        font-weight: 600;
                        font-style: italic !important;
                        color: red;
                    }

                    .text{
                        margin-top: 6px;
                        font-size: 16px;
                    }
                }

            }

            .btn-join{
                text-decoration: none;
                margin: 0 auto;
                padding: 10px;
                background-color: #1cb5bd;
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                text-align: center;
                cursor: pointer;
            }

            .btn-join:hover{
                background-color: #0f2f76;
            }
        }
    }
    .empty-appointment-text
    {
        color: #1cb5bd;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
}