.video-call-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;

  .video-main {
    position: relative;
    width: 100%;
    height: 100%;
    background: #a1a1a1;
    border-radius: 10px;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .doctor-info {
      position: absolute;
      bottom: 10px;
      padding: 10px;
      border-radius: 5px;

      h3 {
        margin: 0;
        font-size: 18px;
        color: #101010;
      }

      p {
        margin: 5px 0 0;
        font-size: 14px;
        color: #070707;
      }
    }
  }

  .video-small {
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 20%;
    max-width: 230px;
    height: 17%;
    background: #a1a1a1;
    border: 2px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 30px;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .controls {
    position: absolute;
    bottom: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;

    .control-btn {
      width: 60px;
      height: 60px;
      border: none;
      border-radius: 50%;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;

      &.end-call {
        background: #e74c3c;

        img {
          width: 35px;
        }

        &:hover {
          background: #c0392b;
        }
      }

      &.mute {
        background: rgb(95, 95, 95);

        img {
          width: 20px;
        }

        &:hover {
          background: #000000;
        }

        &.muted::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 60px;
          height: 2px;
          background-color: #fff;
          transform: translate(-50%, -50%) rotate(45deg);
          z-index: 1;
        }
      }

      &.video {
        background: #3498db;

        img {
          width: 30px;
        }

        &:hover {
          background: #2980b9;
        }

        &.muted::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 60px;
          height: 2px;
          background-color: #fff;
          transform: translate(-50%, -50%) rotate(45deg);
          z-index: 1;
        }
      }
    }
  }
}
